<section>
    <h1>分类</h1>
    <ul>
        <li><a href="http://secdr.github.io/categories/write" title="论文写作">论文写作</a>
        </li>
        <li><a href="http://secdr.github.io/categories/conference" title="期刊会议">期刊会议</a>
        </li>
        <li><a href="http://secdr.github.io/categories/paper" title="论文评鉴">论文评鉴</a>
        </li>
        <li><a href="http://secdr.github.io/categories/trend" title="安全趋势">安全趋势</a>
        </li>
        <li><a href="http://secdr.github.io/categories/life" title="科研生活">科研生活</a>
        </li>
        <li><a href="http://secdr.github.io/categories/group" title="组织公告">组织公告</a>
        </li>
    </ul>
</section>